@model Recipe

<div class="card flex-fill">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text"><strong>Kooktijd:</strong> @Model.CookingTimeInMinutes minuten</p>
    </div>
</div>

<a href="recipe/@Model.Id">testtttttttttt</a>