@model Recipe

<div class="card flex-fill">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text"><strong>Kooktijd:</strong> @Model.CookingTimeInMinutes minuten</p>
        <a asp-controller="HomeController" asp-action="Recipe" asp-route-id="@Model.Id" class="stretched-link"></a>
    </div>
</div>
