@model Recipe

<div class="card" style="width: 80%;">
    <h5 class="card-title">@Model.Name</h5>
    <p class="card-text"><strong>Kooktijd:</strong> @Model.CookingTimeInMinutes minuten</p>
    <a asp-controller="Home" asp-action="Recipe" asp-route-id="@Model.Id">Bekijk recept</a>
</div>


