@model List<Recipe>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MinuteMeals: Snel & Smakelijk</h1>
</div>

<div>
    <div class="d-flex flex-wrap gap-4 justify-content-center align-items-center">
        @foreach (var recipe in Model)
        {
                <partial name="RecipeCardPartial" model="recipe"/>
        }
    </div>
</div>
